<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'leads:home' %}">Back to list of leads</a>


    <div>
        <p>
            Name : {{lead.first_name}} {{lead.last_name}}
        </p>
        <p>
            Age: {{lead.age}}
        </p>
        <p>
            Agent: {{lead.agent}}
        </p>
    </div>


    <footer>
        <div>
            <a href="{% url 'leads:lead_update' lead.pk  %}">Update leads</a> <br>
            <a href="{% url 'leads:lead_delete' lead.pk  %}">delete  leads</a>
        </div>
    </footer>
</body>
</html>